name: Example Test

on: [push, pull_request]

jobs:
  Setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Set-Up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

  Dependency:
    runs-on: ubuntu-latest
    needs: Setup

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Set-Up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      
      - name: Install Dependencies
        run: npm install

  Test:
    runs-on: ubuntu-latest
    needs: Dependency

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Set-Up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      
      - name: Install Dependencies
        run: npm install

      - name: Run Jest Tests
        run: npm test

  Artifact:
    runs-on: ubuntu-latest
    needs: Test
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-ui
          path: |
            index.html
            index.js
            style.css